In [15]:
import yfinance as yf
import pandas as pd
from functions import moving_average

In [7]:
btc_ts = yf.Ticker("BTC-USD").history(start='2023-01-01', end='2023-01-20')

In [8]:
btc_ts

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-01-01 00:00:00+00:00,16547.914062,16630.439453,16521.234375,16625.080078,9244361700,0.0,0.0
2023-01-02 00:00:00+00:00,16625.509766,16759.343750,16572.228516,16688.470703,12097775227,0.0,0.0
2023-01-03 00:00:00+00:00,16688.847656,16760.447266,16622.371094,16679.857422,13903079207,0.0,0.0
2023-01-04 00:00:00+00:00,16680.205078,16964.585938,16667.763672,16863.238281,18421743322,0.0,0.0
2023-01-05 00:00:00+00:00,16863.472656,16884.021484,16790.283203,16836.736328,13692758566,0.0,0.0
2023-01-06 00:00:00+00:00,16836.472656,16991.994141,16716.421875,16951.968750,14413662913,0.0,0.0
2023-01-07 00:00:00+00:00,16952.117188,16975.017578,16914.191406,16955.078125,7714767174,0.0,0.0
2023-01-08 00:00:00+00:00,16954.146484,17091.144531,16924.050781,17091.144531,9768827914,0.0,0.0
2023-01-09 00:00:00+00:00,17093.992188,17389.957031,17093.992188,17196.554688,18624736866,0.0,0.0
2023-01-10 00:00:00+00:00,17192.949219,17484.720703,17162.990234,17446.292969,15808338949,0.0,0.0
2023-01-11 00:00:00+00:00,17446.359375,17934.896484,17337.994141,17934.896484,18372283782,0.0,0.0
2023-01-12 00:00:00+00:00,18117.593750,19030.087891,17995.203125,18869.587891,34971338710,0.0,0.0
2023-01-13 00:00:00+00:00,18868.906250,19964.322266,18753.164062,19909.574219,29225029694,0.0,0.0
2023-01-14 00:00:00+00:00,19910.537109,21075.142578,19907.828125,20976.298828,38967784639,0.0,0.0
2023-01-15 00:00:00+00:00,20977.484375,20993.748047,20606.986328,20880.798828,19298407543,0.0,0.0
2023-01-16 00:00:00+00:00,20882.224609,21360.875000,20715.746094,21169.632812,26792494050,0.0,0.0
2023-01-17 00:00:00+00:00,21175.833984,21438.660156,20978.533203,21161.519531,24999983362,0.0,0.0
2023-01-18 00:00:00+00:00,21161.050781,21564.501953,20541.544922,20688.781250,30005625418,0.0,0.0
2023-01-19 00:00:00+00:00,20686.746094,21163.011719,20685.380859,21086.792969,21152848261,0.0,0.0

In [14]:
btc_ts['Open'].rolling(10).mean()

Date
2023-01-01 00:00:00+00:00             NaN
2023-01-02 00:00:00+00:00             NaN
2023-01-03 00:00:00+00:00             NaN
2023-01-04 00:00:00+00:00             NaN
2023-01-05 00:00:00+00:00             NaN
2023-01-06 00:00:00+00:00             NaN
2023-01-07 00:00:00+00:00             NaN
2023-01-08 00:00:00+00:00             NaN
2023-01-09 00:00:00+00:00             NaN
2023-01-10 00:00:00+00:00    16843.562695
2023-01-11 00:00:00+00:00    16933.407227
2023-01-12 00:00:00+00:00    17082.615625
2023-01-13 00:00:00+00:00    17300.621484
2023-01-14 00:00:00+00:00    17623.654687
2023-01-15 00:00:00+00:00    18035.055859
2023-01-16 00:00:00+00:00    18439.631055
2023-01-17 00:00:00+00:00    18862.002734
2023-01-18 00:00:00+00:00    19282.693164
2023-01-19 00:00:00+00:00    19641.968555
Name: Open, dtype: float64

In [16]:
btc_ts.pe

Date
2023-01-01 00:00:00+00:00             NaN
2023-01-02 00:00:00+00:00             NaN
2023-01-03 00:00:00+00:00             NaN
2023-01-04 00:00:00+00:00             NaN
2023-01-05 00:00:00+00:00             NaN
2023-01-06 00:00:00+00:00             NaN
2023-01-07 00:00:00+00:00             NaN
2023-01-08 00:00:00+00:00             NaN
2023-01-09 00:00:00+00:00             NaN
2023-01-10 00:00:00+00:00    16843.562695
2023-01-11 00:00:00+00:00    16933.407227
2023-01-12 00:00:00+00:00    17082.615625
2023-01-13 00:00:00+00:00    17300.621484
2023-01-14 00:00:00+00:00    17623.654687
2023-01-15 00:00:00+00:00    18035.055859
2023-01-16 00:00:00+00:00    18439.631055
2023-01-17 00:00:00+00:00    18862.002734
2023-01-18 00:00:00+00:00    19282.693164
2023-01-19 00:00:00+00:00    19641.968555
Name: Open, dtype: float64

In [17]:
import random

0.3300130479216482